<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="/_linkImports"></th:block>
        <script src="/js/scheduleView.js" ></script>

        <th:block th:include="/_menu"></th:block>
        <title>Schedule Registration</title>
    </head>
    <body>
    <div class="container">
        <div class="card bg-light">
            <article class="card-body mx-auto" style="max-width: 400px;">
            <p class="text-center">All days highlighted below are days that the offender needs to be confined to the required area</p>
                <div>
                     <div id="dp1"></div>
                </div>
            </article>
        </div>
    </div>
    </body>
</html>