<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="/_linkImports"></th:block>
        <script src="/js/scheduleRegistration.js" ></script>
        <title>Schedule Registration</title>
    </head>
    <body>
        <th:block th:include="/_menu"></th:block>
        <div class="container">
            <div class="card bg-light">
                <article class="card-body mx-auto" style="max-width: 400px;">
                    <h4 class="card-title mt-3 text-center">Register your schedule</h4>
                    <p class="text-center">Please enter in all of the schedule details below</p>

                    <form th:action="@{/schedule/scheduleRegistration}" method='POST' th:object="${scheduleRegistration}" >
                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                           th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                            error</p>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                             </div>
                            <div><input name="scheduleName" th:field="*{scheduleName}" class="form-control" placeholder="Schedule name" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('scheduleName')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <div><input name="description" th:field="*{description}" class="form-control" placeholder="Schedule Description" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('description')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <div>
                                <input id="dp1" name="startDate" th:field="*{startDate}" autocomplete="off" class="form-control" placeholder="Schedule start" type="text">
                            </div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('startDate')}" th:text="${error}"></div>
                        </div>

                        <div class="form-group input-group">
                                <div class="input-group-prepend">
                                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                             </div>
                            <div><input id="dp2" name="endDate" th:field="*{endDate}" autocomplete="off" class="form-control" placeholder="Schedule end" type="text"></div>
                            <div class="alert alert-danger " th:each="error: ${#fields.errors('endDate')}" th:text="${error}"></div>
                        </div>


                        <table class="table" name="excemptionTable" id="excemptionTable">
                            <thead>
                                <tr>
                                    <th scope="col">Days excempt from the above schedule</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="excemption, rowIndex : *{scheduleExcemptions}">
                                    <td><input th:field="*{scheduleExcemptions[__${rowIndex.index}__].excemptionDate}" /></td>
                                    <td><a th:href="@{/invoice/deleteExcemption(excemptionId=${excemption.excemptionId})}" class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-remove"></span><span><strong>Delete</strong></span></a></td>
                                    <td style="display:none"><input th:field="*{scheduleExcemptions[__${rowIndex.index}__].excemptionId}" /></td>
                                </tr>
                            </tbody>
                        </table>
                         <div class="form-group">
                             <button type="button" id="addExcemptionButton" onclick="addExcemption()" class="btn btn-primary a-btn-slide-text"><span class="glyphicon glyphicon-edit"></span><span><strong>Add Excemption</strong></span></button>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register schedule</button>
                        </div>
                    </form>
                </article>
            </div>
        </div>
    </body>
</html>